html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* container */
.container, .alert .alert-box, .thinking .thinking-boxs, .client .client-boxs, .press .press-boxs {
  display: -ms-grid;
  display: grid;
  max-width: 1750px;
  margin: 0 auto;
  gap: 30px;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-row: auto;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

a {
  text-decoration: none;
  color: #fff;
}

.heading, .feature h2, .thinking h4, .client h4, .press h4, .more h3 {
  font-size: 3rem;
  margin-left: 5rem;
  color: #fff;
  margin-bottom: 2rem;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1.2;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
}

.header {
  background-color: #2F2E39;
  padding: 0 2rem;
}

.navbar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.navbar h1 {
  grid-column: span 1;
  font-size: 2rem;
}

.navbar #serach {
  width: 80%;
  padding: 2rem 0;
  background-color: #1B1A25;
  color: #fff;
  border: none;
  font-size: 1.5rem;
}

.navbar ul {
  display: block;
  position: absolute;
  right: -30rem;
  top: 5.7rem;
  height: 55rem;
  width: 20%;
  z-index: 1;
  background-color: #1B1A25;
}

.navbar ul li {
  font-size: 2rem;
  padding: 1.5rem 0;
  border-bottom: 2px solid grey;
}

.navbar ul li:hover {
  border-left: 8px solid #FFE701;
}

.navbar ul li a {
  padding: 2rem;
}

.navbar label {
  color: #fff;
  font-size: 2rem;
  margin-left: 7rem;
  margin-top: 1.8rem;
}

.navbar #toggle {
  display: none;
}

.navbar #toggle:checked ~ ul {
  display: block;
  right: -2rem;
  -webkit-transition: 1s;
  transition: 1s;
}

/* Hero */
.hero {
  position: relative;
}

.hero img {
  width: 100%;
  height: 600px;
}

.hero-heading {
  position: absolute;
  top: 20rem;
  left: 5rem;
  color: #fff;
}

.hero-heading p {
  font-size: 1.5rem;
}

.hero-heading h2 {
  font-size: 3rem;
  margin: 2rem 0;
}

.hero-heading .sub-heading {
  color: #FFE701;
}

/* feature */
.feature {
  background-color: #2F2E39;
  padding: 2rem 0;
  margin-top: -0.4rem;
}

.feature .feature-img div {
  position: relative;
}

.feature .feature-img div div {
  position: absolute;
  color: #fff;
  padding: 0 2rem;
  bottom: 1rem;
}

.feature .feature-img div div h4 {
  font-size: 1.2rem;
  padding-bottom: 1rem;
  font-weight: 600;
}

.feature .feature-img img {
  width: 100%;
  height: 600px;
}

/* Alert */
.alert {
  margin: 2rem 0;
}

.alert .alert-box {
  background-color: #2F2E39;
  text-align: center;
  color: #fff;
}

.alert .alert-box div {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
}

.alert .alert-box div h4 {
  font-size: 3rem;
  padding: 2rem 0;
}

.alert .alert-box div p {
  font-size: 1.2rem;
  padding: 0 2rem;
}

.alert .alert-box div button {
  padding: 1rem;
  font-size: 1.2rem;
  margin: 2rem 0;
  background-color: #2F2E39;
  border: 2px solid #fff;
  color: #fff;
}

/* thinking */
.thinking {
  padding: 2rem 0;
}

.thinking h4 {
  color: #2F2E39;
}

.thinking .thinking-boxs img {
  width: 100%;
}

.thinking .thinking-boxs h5 a {
  font-size: 1.2rem;
  font-weight: 600;
  color: #1B1A25;
}

.thinking .thinking-boxs h5 a:hover {
  text-decoration: underline;
}

/* ESG */
.esg {
  padding: 2rem 0;
}

.esg .esg-boxs {
  display: -ms-grid;
  display: grid;
  max-width: 1750px;
  margin: 0 auto;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: #2F2E39;
}

.esg .esg-boxs .esg-info {
  color: #fff;
}

.esg .esg-boxs .esg-info div {
  margin: 1rem 0;
  color: #FFE701;
}

.esg .esg-boxs .esg-info div p {
  font-size: 1.2rem;
}

.esg .esg-boxs .esg-info h4 {
  font-size: 2rem;
}

.esg .esg-boxs .esg-info p {
  font-size: 1.2rem;
  margin: 1rem 0;
}

.esg .esg-boxs .esg-info button {
  font-size: 1.2rem;
  color: #FFE701;
  background-color: #2F2E39;
  border: 2px solid #fff;
}

.esg .esg-boxs img {
  width: 100%;
}

/* client */
.client {
  padding: 2rem 0;
  text-align: center;
}

.client h4 {
  color: #1B1A25;
  text-align: left;
}

.client .client-boxs {
  text-align: left;
}

.client .client-boxs img {
  width: 100%;
}

.client .client-boxs h5 a {
  color: #1B1A25;
  font-size: 1.2rem;
}

.client .client-boxs h5 a:hover {
  text-decoration: underline;
}

.client button {
  margin-top: 3rem;
  padding: 1rem;
  background-color: #fff;
  border: 1px solid #2F2E39;
  font-size: 1.2rem;
}

/* services */
.services .service-boxs {
  display: -ms-grid;
  display: grid;
  max-width: 1750px;
  margin: 0 auto;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.services .service-info {
  margin: 10rem 5rem;
  text-align: center;
}

.services .service-info h5 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  text-align: left;
}

.services .service-info p {
  font-size: 1.2rem;
  text-align: left;
}

.services .service-info li {
  border-bottom: 2px solid #2F2E39;
  padding: 1rem 0;
  text-align: left;
  font-size: 1.2rem;
  font-weight: 600;
}

.services .service-info li a {
  color: #2F2E39;
}

.services .service-info li:hover {
  background-color: #2F2E39;
}

.services .service-info li:hover a {
  color: #fff;
}

.services .service-info button {
  margin-top: 3rem;
  padding: 1rem;
  border: 2px solid #2F2E39;
  background-color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
}

.services .service-info button:hover {
  background-color: #2F2E39;
  color: #fff;
}

.services .service-img img {
  width: 100%;
}

/* inbox */
.inbox .inbox-info {
  display: -ms-grid;
  display: grid;
  max-width: 1750px;
  margin: 0 auto;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  text-align: center;
  background-color: #FFE701;
  padding: 2rem 0;
}

.inbox .inbox-text {
  grid-column: span 1;
}

.inbox .inbox-text h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.inbox .inbox-text p {
  font-size: 1.2rem;
}

.inbox button {
  margin-top: 1rem;
  padding: 1rem 4rem;
  font-size: 1.2rem;
  background-color: #FFE701;
  border: 2px solid #2F2E39;
  font-weight: 600;
}

.inbox button:hover {
  background-color: #2F2E39;
  color: #fff;
}

/* press */
.press {
  padding: 5rem 0;
}

.press h4 {
  color: #2F2E39;
}

.press .press-boxs img {
  width: 100%;
}

.press .press-boxs h6 {
  color: #9E7881;
  padding: 1rem 0;
}

.press .press-boxs h5 {
  padding: 1rem 0;
  font-size: 1.5rem;
  font-weight: 600;
}

.press .press-boxs h5 a {
  color: #2F2E39;
}

.press .press-boxs h5 a:hover {
  text-decoration: underline;
}

/* more */
.more {
  background-color: #2F2E39;
}

.more .more-boxs {
  display: -ms-grid;
  display: grid;
  max-width: 1750px;
  margin: 0 auto;
  gap: 20px;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  padding: 5rem;
}

.more button {
  margin-left: 5rem;
  padding: 1rem;
  font-size: 1.2rem;
}

.more button:hover {
  background-color: #2F2E39;
  color: #fff;
  border: 2px solid #fff;
}

.more .more-links p {
  color: #fff;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.more .more-links div {
  width: 300px;
}

.more .more-links div li {
  padding: 10px;
}

.more .more-links div a {
  border: 2px solid #fff;
  padding: 5px;
}

.more .more-links div a:hover {
  background-color: #fff;
  color: #2F2E39;
}

/* pages-link */
.pages-link {
  background-color: #d0d1d6;
  margin: 2rem 0;
}

.pages-link .pages {
  display: -ms-grid;
  display: grid;
  max-width: 1750px;
  margin: 0 auto;
  gap: 20px;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.pages-link .page-boxs-1 {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  border-right: 2px solid;
  padding: 5rem 0;
}

.pages-link .page-boxs-1 .page-text {
  margin-left: 2rem;
}

.pages-link .page-boxs-1 p {
  font-size: 1.2rem;
  padding-bottom: 1rem;
}

.pages-link .page-boxs-1 h3 {
  font-size: 2rem;
}

.pages-link .page-boxs-1 a {
  color: #2F2E39;
  font-size: 1.8rem;
}

.pages-link .page-boxs-2 {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  padding: 5rem 0;
}

.pages-link .page-boxs-2 p {
  font-size: 1.2rem;
  padding-bottom: 1rem;
}

.pages-link .page-boxs-2 h3 {
  font-size: 2rem;
}

.pages-link .page-boxs-2 a {
  color: #2F2E39;
  font-size: 1.8rem;
}

/* Footer */
.footer {
  padding: 2rem 0;
}

.footer-box1 {
  display: -ms-grid;
  display: grid;
  max-width: 1750px;
  margin: 0 auto;
  gap: 20px;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.footer-box1 h3 {
  font-size: 2rem;
}

.footer-box1 div {
  color: #1B1A25;
  text-align: right;
}

.footer-box1 div a {
  color: #1B1A25;
  margin-left: 2rem;
  border-bottom: 1px solid #2F2E39;
  font-size: 1.2rem;
}

.footer-box1 div a:hover {
  border-bottom: 3px solid #2F2E39;
}

.footer-box2 {
  display: -ms-grid;
  display: grid;
  max-width: 1750px;
  margin: 0 auto;
  gap: 20px;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  padding-top: 2rem;
}

.footer-box2 div {
  color: #1B1A25;
  text-align: right;
}

.footer-box2 i {
  padding: 1rem;
  border-radius: 50%;
  border: 1px solid #cecccc;
}

.footer-box2 i:hover {
  background-color: #2F2E39;
  color: #fff;
}
/*# sourceMappingURL=style.css.map */